---


const {sectionStyle = ''} = Astro.props

---
<div class={`relative bg-black pt-[70px] pb-16 sm:pt-20 md:pb-[80px] lg:pt-[107px] overflow-hidden ${sectionStyle}`}>
  <!-- decorative colors -->
  <div class="absolute blur-[70px] bg-error-500 w-[233px] h-[176px] rotate-[57deg] rounded-full opacity-20 -left-36 -bottom-14 md:w-[316px] md:h-[238px] md:blur-[100px]"></div>
  <div class="absolute blur-[70px] bg-error-500 w-[233px] h-[176px] rotate-[57deg] rounded-full opacity-20 -right-36 -bottom-14 md:w-[316px] md:h-[238px] md:blur-[100px]"></div>

  <div class="container">
    <div class="wrap lg:flex-col-center">
      <div class="scroll-animation scroll-animation-scale font-bold text-white tracking-tighter text-[28px] mb-10 leading-117
                  sm:text-4xl lg:text-[52px] md:text-center md:-tracking-[1.56px] md:mb-[76px]">
        <span class="text-bg-red">Don’t</span> even think about hiring in-house
      </div>

      <div class="md:flex md:flex-wrap md:mt-16 md:justify-around lg:max-w-[730px] xl:max-w-none xl:justify-center">

        <div class="scroll-animation scroll-animation-scale flex items-center mb-10 md:flex-col md:items-start xl:pr-5 xl:border-r border-[rgba(255,255,255,0.15)] md:w-[278px]">
          <div class="mr-6 text-[32px] md:mb-6">
          😭
          </div>

          <div class="">
            <div class="text-white mb-1 font-bold text-xl leading-117 -tracking-[0.6px] 
                      md:text-2xl md:mb-3">Full-time employee</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] tracking-[-0.16px]">$50k/year, at least.</div>
          </div>
        </div>

        <div class="scroll-animation scroll-animation-scale delay-[200ms] flex items-center mb-10 md:flex-col md:items-start xl:pr-5 xl:border-r border-[rgba(255,255,255,0.15)] md:w-[278px] xl:ml-6">
          <div class="mr-6 text-[32px] md:mb-6">
          🥴 
          </div>
          <div class="">
            <div class="text-white mb-1 font-bold text-xl leading-117 -tracking-[0.6px] 
                      md:text-2xl md:mb-3">Design costs</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] tracking-[-0.16px]">$2k/month, for anything decent.</div>
          </div>
        </div>

        <div class="scroll-animation scroll-animation-scale delay-[400ms] flex items-center mb-10 md:flex-col md:items-start xl:pr-5 xl:border-r border-[rgba(255,255,255,0.15)] md:w-[278px] xl:ml-6">
          <div class="mr-6 text-[32px] md:mb-6">
          😩
          </div>

          <div class="">
            <div class="text-white mb-1 font-bold text-xl leading-117 -tracking-[0.6px] 
                      md:text-2xl md:mb-3">Software costs</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] tracking-[-0.16px]">$1k/month, for the basics</div>
          </div>
        </div>

        <div class="scroll-animation scroll-animation-scale delay-[600ms] flex items-center mb-10 md:flex-col md:items-start md:w-[278px] xl:ml-6">
          <div class="mr-6 text-[32px] md:mb-6">
          🤮
          </div>
          <div class="">
            <div class="text-white mb-1 font-bold text-xl leading-117 -tracking-[0.6px] 
                      md:text-2xl md:mb-3">Lack of cohesion</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] tracking-[-0.16px]">Wasted time, no guaranteed results</div>
          </div>
        </div>

      </div>

    </div>  
  </div>
</div>

<style>

</style>