---
import '../../styles/main.css'

import MainLayout from '../../layouts/MainLayout.astro';
import SecondHeader from '../../components/Headers/SecondHeader.astro';
import PopularArticles from '../../sections/Blog/PopularArticles.astro';
import Footer from '../../sections/Base/Footer.astro';
import FreeAudit from '../../sections/Base/FreeAudit.astro';
import {ArticlesListReact} from '../../sections/Blog/ArticlesListReact.jsx';


const {} = Astro.props

---

<MainLayout title="Articles">

  <SecondHeader 
    title="Expertly curated blog" 
    descr="Expand your PPC marketing knowledge with our in-depth insights and analysis."
    descrStyle="pretty"
    wrapperStyle="pb-[48px] lg:pb-[121px]"
    titleStyle="balance"
    >

    <svg slot="decorativeText" class="hidden absolute -top-[1.45rem] -left-12 | lg:flex" xmlns="http://www.w3.org/2000/svg" width="44" height="41" viewBox="0 0 44 41" fill="none">
      <g opacity="0.5">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M38.5445 12.468C37.1863 9.10119 36.2933 5.51789 35.4535 2.03893C35.2753 1.28933 35.7246 0.525573 36.4612 0.389383C37.1924 0.198847 37.932 0.667077 38.1043 1.36239C38.9152 4.73463 39.7685 8.21178 41.0723 11.4198C41.3538 12.103 41.0185 12.9096 40.3215 13.2063C39.6251 13.5029 38.8264 13.1513 38.5445 12.468Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8829 24.5238C19.5601 19.5615 13.894 13.8125 7.43014 8.9757C6.82905 8.54747 6.70394 7.68211 7.15491 7.0829C7.60642 6.48363 8.46036 6.33472 9.06744 6.81725C15.5482 11.6522 21.2305 17.3994 27.5701 22.3598C28.1642 22.8438 28.2676 23.7113 27.8019 24.3121C27.3309 24.8586 26.477 25.0077 25.8829 24.5238Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.09141 37.4224C8.37528 37.225 11.6591 37.0274 14.9435 36.83C15.6916 36.7475 16.3411 37.3356 16.3885 38.0996C16.4354 38.8637 15.8585 39.4765 15.1099 39.559C11.8206 39.757 8.53185 39.9551 5.2431 40.153C4.48904 40.1812 3.84337 39.5929 3.80026 38.8284C3.76315 38.1182 4.33789 37.4505 5.09141 37.4224Z" fill="white"/>
      </g>
    </svg>

    <svg slot="decorativeStar" xmlns="http://www.w3.org/2000/svg" class="hidden absolute top-[104px] right-[148px] | lg:flex" width="36" height="36" viewBox="0 0 36 36" fill="none">
      <g opacity="0.5" clip-path="url(#clip0_528_2557)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9322 11.4305C11.6933 11.0667 11.4728 10.7002 11.2699 10.326C10.9653 9.76463 10.7373 9.16432 10.4641 8.58922C10.348 8.34533 10.0352 7.71388 10.0064 7.61595C9.75963 6.76065 10.3573 6.35056 10.5383 6.2447C10.6247 6.19093 11.5254 5.6688 12.1914 6.62956C13.0066 7.80389 13.6552 9.0619 14.1231 10.3677C14.8034 11.3538 15.6287 12.2709 16.5229 13.0366C20.0801 16.0815 23.7895 14.8993 27.6142 13.1765C28.201 12.9082 28.895 13.1562 29.1839 13.7297C29.4747 14.3076 29.26 15.0128 28.6954 15.3241C26.6399 16.4748 23.5879 19.8698 23.0586 22.2405C22.948 22.7367 23.1854 23.712 23.3634 24.6924C23.6088 26.0538 23.7923 27.4267 23.6231 28.1119C23.5989 28.2174 23.2367 29.3456 23.0746 29.559C22.6831 30.068 22.1986 30.086 21.8983 30.0389C21.598 29.9919 21.2027 29.8127 20.8815 29.3693C20.5457 28.9059 20.1777 27.8142 20.0615 27.5967C19.64 26.8076 18.7727 25.2771 17.8343 24.0463C17.3288 23.3837 16.8365 22.7837 16.3703 22.583C14.6442 21.8406 12.8497 22.8503 11.3611 23.7519C11.1893 23.8537 11.0196 23.9599 10.8483 24.0615C10.2885 24.5339 9.66773 24.9752 8.98287 25.3762C7.94928 25.9831 7.3298 25.0598 7.29099 24.9979C7.20668 24.8611 6.80147 24.1439 7.49105 23.4828C7.56708 23.4125 8.1643 22.9763 8.39378 22.807C8.71376 22.5716 9.04548 22.3522 9.38045 22.1365C12.5929 19.3451 13.1862 15.2084 11.9322 11.4305ZM14.9723 14.8818C17.6531 17.1691 20.4014 17.6362 23.2073 17.1616L23.2069 17.1618C21.992 18.6804 21.0108 20.3439 20.7061 21.7154C20.59 22.2351 20.6723 23.1416 20.8234 24.1337C20.3314 23.3651 19.7706 22.5635 19.21 21.9145C18.5711 21.1736 17.9053 20.6184 17.3244 20.368C16.2037 19.8862 15.0479 19.8516 13.9209 20.0782C14.6725 18.4472 15.0083 16.6776 14.9723 14.8818Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_528_2557">
          <rect width="27" height="27" fill="white" transform="translate(0 10.8616) rotate(-23.7209)"/>
        </clipPath>
      </defs>
    </svg>

  </SecondHeader>


  <PopularArticles />

  <div class="flex justify-center my-9 | lg:my-[55px]">
    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="17" viewBox="0 0 125 17" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M33.3168 10.0112C27.9465 11.5475 21.7461 13.0764 15.7814 13.4581C10.6833 13.784 5.75892 13.2779 1.72827 11.1246C1.16009 10.8214 0.448575 11.0299 0.1413 11.5909C-0.166444 12.1516 0.0452741 12.8536 0.613453 13.1573C5.0104 15.5056 10.3718 16.1198 15.9327 15.7639C22.0047 15.3757 28.317 13.8366 33.795 12.2782C34.4306 13.5487 35.7469 14.7333 38.0655 15.6072C41.6268 16.9498 46.4893 16.9332 51.6118 16.1766C59.0412 15.0799 67.0332 12.4645 72.1717 10.6061C72.3824 10.5303 72.6963 10.4096 73.0804 10.2507C73.1975 10.5058 73.3286 10.7572 73.4738 11.004C74.7338 13.155 76.9635 14.8941 79.2353 15.5153C93.6435 19.4539 110.459 14.7346 124.151 10.894C124.769 10.7197 125.13 10.0801 124.957 9.46681C124.779 8.85351 124.132 8.49717 123.509 8.67141C110.202 12.4048 93.8636 17.1153 79.8582 13.288C78.1345 12.8166 76.4576 11.48 75.502 9.84763C75.3943 9.66554 75.3006 9.47928 75.2116 9.29025C77.0993 8.36729 79.3196 7.08061 80.514 5.70333C81.7412 4.29139 82.0457 2.78425 80.9777 1.36075C80.0596 0.143851 78.6685 0.0403218 77.2211 0.671189C75.6613 1.34689 74.0546 2.92657 73.5347 3.6679C72.5604 5.05257 72.2513 6.55465 72.4293 8.01928C71.9702 8.21062 71.5974 8.35296 71.3674 8.43615C66.3414 10.2534 58.5297 12.8185 51.2652 13.8912C46.591 14.5817 42.1509 14.6736 38.9011 13.4489C37.5151 12.9262 36.5993 12.3161 36.1024 11.6081C37.0832 11.3187 38.0289 11.034 38.9325 10.7623C40.7195 10.2248 44.44 9.33509 47.0983 7.74938C49.2122 6.48857 50.6455 4.77344 50.5621 2.62341C50.5195 1.51881 49.8717 0.781634 48.8407 0.368451C47.3001 -0.24855 44.6358 0.0500076 43.6437 0.257986C40.6347 0.887466 36.6186 3.49321 34.6316 6.4294C33.8386 7.60101 33.3669 8.82669 33.3168 10.0112ZM35.7885 9.28932C36.6387 9.03698 37.4603 8.78925 38.2496 8.55169C39.9176 8.04977 43.4044 7.25251 45.8865 5.77171C47.2008 4.98786 48.274 4.04874 48.222 2.71167C48.2177 2.60768 48.1133 2.57811 48.021 2.53559C47.8781 2.47043 47.7147 2.42559 47.5404 2.39046C46.3614 2.1529 44.7778 2.38259 44.1295 2.51847C41.6048 3.04674 38.2463 5.249 36.5792 7.71284C36.227 8.23325 35.9464 8.76337 35.7885 9.28932ZM74.7432 6.95535C75.844 6.39659 76.9963 5.72088 77.905 4.98556C78.3874 4.59502 78.795 4.19341 79.0526 3.77653C79.268 3.43175 79.3523 3.07863 79.0947 2.73754C78.9917 2.59935 78.8371 2.5966 78.6779 2.62248C78.5092 2.65021 78.3359 2.70935 78.1626 2.78561C77.0197 3.28198 75.8393 4.44158 75.4599 4.98556C75.0149 5.61643 74.7947 6.28382 74.7432 6.95535Z" fill="#8057FF"/>
    </svg>
  </div>


    <ArticlesListReact client:only />


  <FreeAudit line={false} doubt={true} />
  <Footer />

</MainLayout>

<style>
  body {
    background-color: #F3F3FF;
  }
</style>