---

const {title, style, lines = false, link = '#', linesStyle} = Astro.props

---
<a href={link} class={`btn ${style} relative z-50`}>
  {title}
  {lines && 
  <svg class={`absolute -left-[50px] -bottom-8 ${linesStyle}`} xmlns="http://www.w3.org/2000/svg" width="50" height="49" viewBox="0 0 50 49" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M39.5608 35.9648C37.5078 38.959 35.8623 42.2651 34.2914 45.4807C33.9555 46.1742 34.2293 47.0169 34.9192 47.3089C35.592 47.6528 36.4153 47.3553 36.7336 46.7136C38.2534 43.5959 39.8372 40.3849 41.8028 37.534C42.2251 36.9276 42.0718 36.0677 41.4553 35.6276C40.8393 35.1876 39.9836 35.3585 39.5608 35.9648Z" fill="#8057FF"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M29.8004 21.46C22.5555 24.9403 15.782 29.3306 8.42635 32.658C7.74698 32.9463 7.43801 33.7643 7.749 34.4467C8.0605 35.1293 8.86216 35.4591 9.55909 35.119C16.9307 31.7971 23.7198 27.4121 30.9808 23.9372C31.6653 23.5929 31.9535 22.7681 31.6286 22.0809C31.2866 21.4457 30.485 21.1157 29.8004 21.46Z" fill="#8057FF"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2831 4.377C15.447 5.27857 18.6107 6.18045 21.7751 7.08219C22.4877 7.32424 23.2488 6.89026 23.4601 6.15449C23.6708 5.41854 23.2398 4.69566 22.5266 4.45344C19.3576 3.55011 16.1892 2.64665 13.0207 1.7435C12.2905 1.55317 11.5331 1.98818 11.326 2.72535C11.1364 3.41082 11.5535 4.18684 12.2831 4.377Z" fill="#8057FF"/>
</svg>
  }
</a>

<style>

</style>