---

// ? This component is suitable for two types of cards - Approach and on the Conversion page in the slider. 

import { Image } from "astro:assets";

import ChartCircle from '../../images/ApproachCard/chart-breakout-circle.svg'
import Telescope from '../../images/ApproachCard/telescope.svg'
import Coins_2 from '../../images/Icons/coins-stacked-02.svg'
import Search from '../../images/Icons/search-sm.svg';
import PieChart from '../../images/Icons/pie-chart.svg';


const {title, image, descr} = Astro.props

const images = {
  PieChart,
  ChartCircle,
  Telescope,
  Coins_2,
  Search,
};

const selectedImage = images[image]; 

---

<div class="rounded-xl bg-white w-full h-[264px] py-4 px-6 flex flex-col max-w-[300px] justify-between | 
             md:max-w-[405px] md:h-[280px] md:py-8 md:px-6 ">
  <Image src={selectedImage} alt={title} width={48} class="max-w-[36px] | md:w-[48px]"/>

  <div class="">
    <div class="text-black font-bold text-xl mb-2 tracking-tighter balance leading-117! | md:text-[32px] md:mb-4 md:max-w-[335px]">
      {title}
    </div>
    <div class="font-medium text-gray-700 text-sm leading-135 tracking-[-0.16px] | md:text-base">{descr}</div>
  </div>
</div>

<style>

</style>