---
import OurTeamSlider from "../components/Slider/OurTeamSlider.astro";




const {} = Astro.props


---


<section class="py-9 | sm:pt-12 | md:pt-[120px] lg:pt-[210px] lg:pb-[159px]">
  <!-- Nav -->
  <div class="container">
    <div class="scroll-animation mb-6 flex justify-between items-center | sm:mb-7 | lg:mb-14">
      <!-- Text block -->
      <div class="">
        <div class="mb-2 text-black font-bold leading-117 -tracking-[0.84px] text-[28px] | sm:text-4xl sm:mb-3 | 
                    lg:text-[52px] lg:mb-3 lg:-tracking-[1.56px]">
          Meet our team
        </div>
        <p class="text-gray-800 -tracking-[0.42px] leading-135 font-medium text-sm balance | sm:text-lg | 
                    lg:text-xl lg:-tracking-[0.6px]">
          Dedicated experts in PPC marketing, just for you
        </p>
      </div>
      <!-- Arrows for sliders. They are defined (set classes) in the slider itself -->
      <div class="hidden md:flex items-center">

        <div class="arrow-prev rounded-full border border-gray-100 flex justify-center items-center w-14 h-14 cursor-pointer mr-6 arrow-hover">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>

        <div class="arrow-next rounded-full border border-gray-100 flex justify-center items-center w-14 h-14 cursor-pointer arrow-hover">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>

      </div>
    </div>
  </div>

  <!-- Slider -->
    <OurTeamSlider  />
  

</section>



