---
import BlockText from "../components/BlockText.astro";


const {} = Astro.props

---
<section class="bg-gray-50 py-16 md:py-24 lg:pt-[127px] lg:pb-[100px]">
  <div class="container flex flex-col-center xl:max-w-[1296px]">
    <BlockText title="The ultimate hands off PPC solution" subtitle="Your clients will never leave" descr="Our team of World-class PPC experts will guarantee your client’s ads perform" />

    <div class="mt-5 flex justify-center flex-wrap child:mb-[14px] last:mb-0 w-full sm:justify-between sm:max-w-[574px] md:max-w-[615px] lg:mt-[60px] lg:max-w-none">

      <!-- Card 1 -->
      <div class="scroll-animation px-4 py-5 rounded-xl bg-white h-[194px] flex flex-col justify-between max-w-xs sm:max-w-[280px] md:max-w-[300px] md:h-[310px] lg:pl-6 lg:pt-5 lg:py-8">
        <svg class="max-w-[36px] md:max-w-[48px] lg:max-w-[54px]" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <path d="M34.668 13L39.0013 17.3334L47.668 8.66669" stroke="#0C0C0E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M34.6654 45.5V42.9C34.6654 39.2597 34.6654 37.4395 33.9569 36.0491C33.3337 34.826 32.3394 33.8317 31.1163 33.2085C29.7259 32.5 27.9057 32.5 24.2654 32.5H14.732C11.0917 32.5 9.27152 32.5 7.88109 33.2085C6.65804 33.8317 5.66367 34.826 5.04049 36.0491C4.33203 37.4395 4.33203 39.2597 4.33203 42.9V45.5M27.082 16.25C27.082 20.4382 23.6869 23.8334 19.4987 23.8334C15.3105 23.8334 11.9154 20.4382 11.9154 16.25C11.9154 12.0619 15.3105 8.66669 19.4987 8.66669C23.6869 8.66669 27.082 12.0619 27.082 16.25Z" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="">
          <div class="text-sm text-primary-500 font-bold leading-117 mb-2 -tracking-[0.42px] md:text-base">Management</div>
          <div class="text-[22px] text-black font-semibold -tracking-[0.66px] leading-117 md:text-[28px]">Dedicated account managers</div>
        </div>
      </div>
      <!-- Card 2 -->
      
      <div class="scroll-animation delay-[200px] px-4 py-5 rounded-xl bg-white h-[194px] flex flex-col justify-between max-w-xs sm:max-w-[280px] md:max-w-[300px] md:h-[310px] lg:pl-6 lg:pt-5 lg:py-8 xl:translate-y-10">
        
        <svg xmlns="http://www.w3.org/2000/svg" class="max-w-[36px] md:max-w-[48px] lg:max-w-[54px]" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <path d="M8.66797 14.7333C8.66797 11.093 8.66797 9.2728 9.37643 7.88237C9.9996 6.65932 10.994 5.66495 12.217 5.04177C13.6075 4.33331 15.4276 4.33331 19.068 4.33331H32.9346C36.575 4.33331 38.3951 4.33331 39.7856 5.04177C41.0086 5.66495 42.003 6.65932 42.6262 7.88237C43.3346 9.2728 43.3346 11.093 43.3346 14.7333V37.2666C43.3346 40.907 43.3346 42.7272 42.6262 44.1176C42.003 45.3406 41.0086 46.335 39.7856 46.9582C38.3951 47.6666 36.575 47.6666 32.9346 47.6666H19.068C15.4276 47.6666 13.6075 47.6666 12.217 46.9582C10.994 46.335 9.9996 45.3406 9.37643 44.1176C8.66797 42.7272 8.66797 40.907 8.66797 37.2666V14.7333Z" stroke="#26262F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.332 30.3333L17.332 39M34.6654 26V39M25.9987 17.3333V39" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="">
          <div class="text-sm text-primary-500 font-bold leading-117 mb-2 -tracking-[0.42px] md:text-base">Customization</div>
          <div class="text-[22px] text-black font-semibold -tracking-[0.66px] leading-117 md:text-[28px]">Beautiful reports branded with your agency</div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="scroll-animation delay-[400px] px-4 py-5 rounded-xl bg-white h-[194px] flex flex-col justify-between max-w-xs sm:max-w-[280px] md:max-w-[300px] md:h-[310px] lg:pl-6 lg:pt-5 lg:py-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="max-w-[36px] md:max-w-[48px] lg:max-w-[54px]" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <path d="M26 34.6667V45.5M39 45.5L30.4386 38.3655C28.8596 37.0497 28.0701 36.3918 27.1888 36.1403C26.4118 35.9187 25.5882 35.9187 24.8112 36.1403C23.9299 36.3918 23.1404 37.0497 21.5614 38.3655L13 45.5" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.332 23.8333V26M25.9987 19.5V26M34.6654 15.1667V26M47.6654 6.5H4.33203M6.4987 6.5H45.4987V24.2667C45.4987 27.907 45.4987 29.7272 44.7902 31.1176C44.1671 32.3407 43.1727 33.335 41.9496 33.9582C40.5592 34.6667 38.739 34.6667 35.0987 34.6667H16.8987C13.2584 34.6667 11.4382 34.6667 10.0478 33.9582C8.82471 33.335 7.83033 32.3407 7.20716 31.1176C6.4987 29.7272 6.4987 27.907 6.4987 24.2667V6.5Z" stroke="#26262F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="">
          <div class="text-sm text-primary-500 font-bold leading-117 mb-2 -tracking-[0.42px] md:text-base">Perfomance</div>
          <div class="text-[22px] text-black font-semibold -tracking-[0.66px] leading-117 md:text-[28px]">Live performance dashboard</div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="scroll-animation delay-[600px] px-4 py-5 rounded-xl bg-white h-[194px] flex flex-col justify-between max-w-xs sm:max-w-[280px] md:max-w-[300px] md:h-[310px] lg:pl-6 lg:pt-5 lg:py-8 xl:translate-y-10">
        <svg class="max-w-[36px] md:max-w-[48px] lg:max-w-[54px]" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <path d="M4.33203 26C4.33203 37.9661 14.0325 47.6666 25.9987 47.6666C29.5885 47.6666 32.4987 44.7565 32.4987 41.1666V40.0833C32.4987 39.0771 32.4987 38.5739 32.5543 38.1516C32.9383 35.2348 35.2335 32.9396 38.1503 32.5556C38.5727 32.5 39.0758 32.5 40.082 32.5H41.1654C44.7552 32.5 47.6654 29.5898 47.6654 26C47.6654 14.0338 37.9649 4.33331 25.9987 4.33331C14.0325 4.33331 4.33203 14.0338 4.33203 26Z" stroke="#26262F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M15.1667 28.1667C16.3633 28.1667 17.3333 27.1966 17.3333 26C17.3333 24.8034 16.3633 23.8333 15.1667 23.8333C13.97 23.8333 13 24.8034 13 26C13 27.1966 13.97 28.1667 15.1667 28.1667Z" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M34.6667 19.5C35.8633 19.5 36.8333 18.5299 36.8333 17.3333C36.8333 16.1367 35.8633 15.1667 34.6667 15.1667C33.4701 15.1667 32.5 16.1367 32.5 17.3333C32.5 18.5299 33.4701 19.5 34.6667 19.5Z" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21.6667 17.3333C22.8633 17.3333 23.8333 16.3633 23.8333 15.1667C23.8333 13.97 22.8633 13 21.6667 13C20.47 13 19.5 13.97 19.5 15.1667C19.5 16.3633 20.47 17.3333 21.6667 17.3333Z" stroke="#8057FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <div class="">
          <div class="text-sm text-primary-500 font-bold leading-117 mb-2 -tracking-[0.42px] md:text-base">Conversion</div>
          <div class="text-[22px] text-black font-semibold -tracking-[0.66px] leading-117 md:text-[28px]">Landing page design that converts</div>
        </div>
      </div>

    </div>
  </div>
</section>

<style>

</style>