---


const {} = Astro.props

---
<div class="px-4 py-6 max-w-[618px] w-full bg-white rounded-xl -mt-10 z-20 relative | lg:max-w-[240px] xl:max-w-[300px] lg:mt-0 xl:sticky xl:top-8 xl:left-0 xl:p-6 xl:pb-8">
  <!-- Nav -->
  <div class="contents-nav flex justify-between items-center text-xl font-bold leading-135 cursor-pointer | xl:text-xl">
    Contents
    <svg class="lg:hidden transition-all" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M6 9.5L12 15.5L18 9.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <!-- Body -->

  <div class="contents-body max-h-0 h-full transition-all delay-300 overflow-hidden | lg:contents-body--active">
    <ul class="contents-list child:mb-5 last:mb-0 xl:child:mb-6">
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#intro">Intro</a>
      </li>
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#facebook">Facebook Retargeting Considerations</a>
      </li>
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#improve">Improve Your Ads Before Changing Your Strategy</a>
      </li>
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#intro">Keep Your Existing Ad Campaign Running</a>
      </li>
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#intro">Run A Slow And Steady Campaign</a>
      </li>
      <li>
        <a class="leading-135 text-gray-800 hover:text-primary-500 text-sm font-semibold | xl:text-base" href="#intro">Remind People That They Abandoned Their Cart</a>
      </li>
    </ul>
  </div>
</div>

<style>

</style>
<script>
// Selecting relevant elements using class names
const contentsNav = document.querySelector('.contents-nav'),
      contentsBody = document.querySelector('.contents-body'),
      contentItem = document.querySelectorAll('.contents-list li a');

// Toggle class on click to show/hide contents body
contentsNav.addEventListener('click', () => {
  contentsBody.classList.toggle('contents-body--active');
  contentsNav.querySelector('svg').classList.toggle('rotate-180');
});

// Adding click event listeners to each content item
contentItem.forEach((item) => {
  item.addEventListener('click', () => {
    // Removing 'text-primary-500' class from all content items
    contentItem.forEach((link) => {
      link.classList.remove('text-primary-500');
    });

    // Adding 'text-primary-500' class to the clicked content item
    item.classList.add('text-primary-500');
  });
});

</script>