---
import { Image } from "astro:assets";
import ServicesLink from "../../components/ServicesLink.astro";
import GrowthGrid from '../../images/Decorate/Growth-grid.svg';

import MainButton from "../../components/Buttons/MainButton.astro";

import User_1 from '../../images/Users/user-1.png';
const {} = Astro.props

---


<section class="bg-black pt-[64px] pb-[48px] relative overflow-hidden mb-[72px]
                  md:pt-40 md:mb-32 md:pb-48">

  <div class="container xl:max-w-[1254px]">
    <div class="wrap w-full flex-col-center lg:flex-row lg:justify-between">

      <div class="scroll-animation lg:w-full">
          <div class="text-[28px] -tracking-[0.84px] text-white leading-117 font-bold sm:text-center md:text-4xl lg:mb-10 lg:max-w-[471px] lg:text-[42px] lg:text-left">Over a decade of experience in dominating PPC campaigns</div>

          <div class="hidden items-center z-10 w-full lg:flex">
            <MainButton title="Contact Us" link="/contact" style="w-full max-w-full h-[44px] sm:max-w-[140px]" />

            <div class="flex items-center ml-6">
              <Image class='mr-3' src={User_1} width={44} alt='User Photo' />
              <div class="text-white font-semibold">Want to know more?</div>
            </div>
            
          </div>
      </div>

      <!-- Cards wrapper -->
      <div class="scroll-animation delay-200 flex flex-col justify-between items-start max-w-[1158px] mt-12 w-full mb-16 z-10
      sm:flex-row sm:justify-around sm:flex-wrap lg:m-0 lg:justify-between lg:max-w-[450px] xl:max-w-[500px] lg:flex-row">

        <!-- Card -->
        <div class="flex items-center mb-10 lg:flex-col lg:items-start lg:mb-24 lg:mr-16 xl:mr-24">
          <div class="mr-6 text-[32px] leading-117
              md:mb-9 lg:mr-0">💰</div>
          <div class="">
            <div class="text-white text-xl mb-1 leading-117 tracking-[-0.6px]
                      md:text-[22px] md:mb-3">Conversion Focused</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] text-base leading-117">Scale your revenue</div>
          </div>

        </div>
        <!-- Card -->
        <div class="flex items-center mb-10 lg:mb-0 lg:flex-col lg:items-start">
          <div class="mr-6 text-[32px] leading-117
              md:mb-9 lg:mr-0">🧠 </div>
          <div class="">
            <div class="text-white text-xl mb-1 leading-117 tracking-[-0.6px]
                      md:text-[22px] md:mb-3">80/20 Principle</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] text-base leading-117">Focus on what's effective </div>
          </div>

        </div>
        <!-- Card -->
        <div class="flex items-center mb-10  lg:flex-col lg:items-start lg:mb-0 lg:mr-16 xl:mr-24">
          <div class="mr-6 text-[32px] leading-117
              md:mb-9 lg:mr-0">📈</div>
          <div class="">
            <div class="text-white text-xl mb-1 leading-117 tracking-[-0.6px]
                      md:text-[22px] md:mb-3">Maximum ROI</div>
            <div class="font-semibold text-[rgba(255,255,255,0.8)] text-base leading-117">Bang for your buck </div>
          </div>

        </div>
        <!-- Card -->
        <div class="flex items-center mb-10 lg:mb-0 lg:flex-col lg:items-start">

          <div class="mr-6 text-[32px] leading-117
              md:mb-9 lg:mr-0">👨‍💻</div>

          <div class="">
          <div class="text-white text-xl mb-1 leading-117 tracking-[-0.6px]
                    md:text-[22px] md:mb-3">Data driven</div>
          <div class="font-semibold text-[rgba(255,255,255,0.8)] text-base leading-117">Outclass the competition </div>
          </div>
        </div>

      </div>

      <div class="lg:hidden"><ServicesLink /></div>

    </div>
  </div>

  <!-- Decorate line, grid -->

  <Image src={GrowthGrid} class='top-0 absolute hidden z-0 lg:flex' alt="Decorative grid" />
  <div class="blur-[100px] absolute top-0 -right-16 w-[217px] rounded-full h-[140px] rotate-[57deg] bg-[rgba(129,87,255,0.4)] z-0"></div>
  <div class="blur-[100px] hidden absolute bottom-0 -left-32 w-[313px] rounded-full h-[140px] rotate-[57deg] bg-[rgba(129,87,255,0.4)] z-0 md:flex"></div>
</section>

<style>

</style>